mat-card {
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #2f3e47;
    color: rgba(255, 255, 255, 0.9);
    margin-left: 20px;

    b {
      font-size: 12px;
    }
}



.row {
    
    clear: both;
    width:100%;
    display: flex;
    .col {
        width: 33%;
        padding: 10px;
    }

    .col-50 {
        width: 49%;
        padding: 10px;
    }

    .applyBtn {
        float: right;
    }

    .description {
        margin-left: 10px;
    }

    .label {
        color: #5b69bc;
        font-weight: 800;
    }
}